@font-face {
  font-family: "iconfont"; /* Project id 4418339 */
  src: url('https://at.alicdn.com/t/c/font_4418339_vzk1lih4nxa.woff2?t=1713951362065') format('woff2'),
       url('https://at.alicdn.com/t/c/font_4418339_vzk1lih4nxa.woff?t=1713951362065') format('woff'),
       url('https://at.alicdn.com/t/c/font_4418339_vzk1lih4nxa.ttf?t=1713951362065') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-guangai1:before {
  content: "\e625";
}

.icon-guangaifamen:before {
  content: "\e624";
}

.icon-guangai:before {
  content: "\e66e";
}

.icon-internet-1:before {
  content: "\e623";
}

.icon-juanlian:before {
  content: "\e895";
}

.icon-riqishijian_filled:before {
  content: "\e621";
}

.icon-voice:before {
  content: "\e661";
}

.icon-mima2:before {
  content: "\e640";
}

.icon-a-06mima:before {
  content: "\edba";
}

.icon-gerenxinxi1:before {
  content: "\e619";
}

.icon-gerenxinxi2:before {
  content: "\e620";
}

.icon-gerenxinxi3:before {
  content: "\e6c2";
}

.icon-tousujianyi:before {
  content: "\100c2";
}

.icon-nongshijilu1:before {
  content: "\e630";
}

.icon-cebianlan-nongshijilu:before {
  content: "\e617";
}

.icon-nongshijilu:before {
  content: "\e65d";
}

.icon-fertile:before {
  content: "\e66a";
}

.icon-nongyaojiance:before {
  content: "\e616";
}

.icon-huaxueshiji:before {
  content: "\e61f";
}

.icon-fengji:before {
  content: "\e615";
}

.icon-icon-test:before {
  content: "\e646";
}

.icon-yinlebofangqi1:before {
  content: "\e614";
}

.icon-caomei-:before {
  content: "\e618";
}

.icon-meiguihuacai:before {
  content: "\e62e";
}

.icon-xiaoyu:before {
  content: "\e632";
}

.icon-qing:before {
  content: "\e610";
}

.icon-yintian:before {
  content: "\e613";
}

.icon-duoyun:before {
  content: "\e62d";
}

.icon-dingxiang:before {
  content: "\e60f";
}

.icon-tongjiyuce:before {
  content: "\e74f";
}

.icon-chengchangshouce:before {
  content: "\e657";
}

.icon-zacao:before {
  content: "\e7fc";
}

.icon-bingchonghaifangzhi:before {
  content: "\e782";
}

.icon-youbian:before {
  content: "\e60e";
}

.icon-persimmon:before {
  content: "\e61a";
}

.icon-liebiao:before {
  content: "\e66c";
}

.icon-dianbohuifang:before {
  content: "\e60b";
}

.icon-xiaoshouyuce:before {
  content: "\e69d";
}

.icon-daqiya:before {
  content: "\ea32";
}

.icon-zuojiantou1:before {
  content: "\e63f";
}

.icon-tianchongxing-:before {
  content: "\e63e";
}

.icon-shuiwei:before {
  content: "\e622";
}

.icon-diguan:before {
  content: "\e603";
}

.icon-kongtiao:before {
  content: "\e90d";
}

.icon-jiashiqi:before {
  content: "\e77a";
}

.icon-yanwubaojingqi:before {
  content: "\e61c";
}

.icon-fengjikongzhi:before {
  content: "\e688";
}

.icon-guangzhao_guangzhaoguoqiang:before {
  content: "\e673";
}

.icon-nycyy_ryhtnd0:before {
  content: "\e605";
}

.icon-led_display:before {
  content: "\e779";
}

.icon-yinlebofangqi:before {
  content: "\e643";
}

.icon-kongqishidu-color:before {
  content: "\e608";
}

.icon-kongqiwendu:before {
  content: "\e609";
}

.icon-shuizhipH:before {
  content: "\ea80";
}

.icon-turangshidu:before {
  content: "\e60a";
}

.icon-fanqingqiguanli:before {
  content: "\e6b3";
}

.icon-youjiantou1:before {
  content: "\e602";
}

.icon-YongHu:before {
  content: "\e61b";
}

.icon-mima:before {
  content: "\e64c";
}

.icon-youxiang:before {
  content: "\e60c";
}

.icon-zhinengzhushou_zhinengzhushou:before {
  content: "\e63c";
}

.icon-zhinengzhushou_zhinengzhushou-copy:before {
  content: "\eb49";
}

.icon-caozuo-shangla:before {
  content: "\e60d";
}

.icon-open:before {
  content: "\e6ee";
}

.icon-xialakuangxiala:before {
  content: "\e607";
}

.icon-zuojiantou:before {
  content: "\e642";
}

.icon-dayinji_o:before {
  content: "\eb48";
}

.icon-sousuo:before {
  content: "\e6d9";
}

.icon-circle:before {
  content: "\e606";
}

.icon-circle-copy:before {
  content: "\eb03";
}

.icon-xiugai:before {
  content: "\e8cf";
}

.icon-guanyuwomen:before {
  content: "\e61e";
}

.icon-gerenxinxi:before {
  content: "\e641";
}

.icon-xiugaimima:before {
  content: "\e67b";
}

.icon-shoucang:before {
  content: "\e63d";
}

.icon-naozhong:before {
  content: "\e648";
}

.icon-hengxian:before {
  content: "\ea4d";
}

.icon-youjiantou:before {
  content: "\e6e0";
}

.icon-youjian:before {
  content: "\e62b";
}

.icon-zengjiatianjiajiahao:before {
  content: "\e62a";
}

.icon-shijian:before {
  content: "\e644";
}

.icon-zhongzi:before {
  content: "\e604";
}

.icon-tongxunlu01-F:before {
  content: "\e62f";
}

.icon-changjingshezhi:before {
  content: "\e645";
}

.icon-jilu:before {
  content: "\e62c";
}

.icon-jiankong:before {
  content: "\e61d";
}

.icon-guanli:before {
  content: "\e6a3";
}

.icon-yuzhishezhi:before {
  content: "\e656";
}

.icon-yujing:before {
  content: "\e6fe";
}

.icon-shebeizongkong:before {
  content: "\e612";
}

.icon-changjingshezhi-copy:before {
  content: "\eafc";
}

.icon-jilu-copy:before {
  content: "\eafd";
}

.icon-jiankong-copy:before {
  content: "\eafe";
}

.icon-guanli-copy:before {
  content: "\eaff";
}

.icon-yuzhishezhi-copy:before {
  content: "\eb00";
}

.icon-yujing-copy:before {
  content: "\eb01";
}

.icon-shebeizongkong-copy:before {
  content: "\eb02";
}

.icon-fenxi:before {
  content: "\ea3f";
}

.icon-kongzhizhongxin:before {
  content: "\eafa";
}

.icon-kongzhizhongxin-copy:before {
  content: "\eafb";
}

.icon-xiangshang:before {
  content: "\e600";
}

.icon-guanbi:before {
  content: "\e601";
}

.icon-iconfontzhizuobiaozhun023101:before {
  content: "\e667";
}

.icon-wode:before {
  content: "\e611";
}

.icon-wode-copy:before {
  content: "\e668";
}

.icon-iconfontzhizuobiaozhun023101-copy:before {
  content: "\e669";
}
